filebeat.inputs:
# --- NGINX Access Log ---
  - type: filestream
    id: nginx-access-log
    enabled: true
    paths:
      - /var/log/nginx/access.log*

    # Добавляем мета-поле для идентификации типа лога
    fields:
      log_type: nginx_access
    fields_under_root: true

    # Обработка многострочных логов — паттерн для объединения строк
    multiline:
      type: pattern
      pattern: '^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'
      negate: true
      match: after

# --- NGINX Error Log ---
  - type: filestream
    id: nginx-error-log
    enabled: true
    paths:
      - /var/log/nginx/error.log*

    # Добавляем мета-поле для идентификации типа лога
    fields:
      log_type: nginx_error
    fields_under_root: true

output.elasticsearch:
  hosts: ["http://{{ hostvars['elastic']['ansible_host'] }}:9200"]
  index: "filebeat-nginx-%{+yyyy.MM.dd}"

setup.kibana:
  host: "http://{{ hostvars['kibana1']['ansible_host'] }}:5601"

setup.template.name: "nginx-logs"
setup.template.pattern: "filebeat-nginx-*"

logging:
  level: info
  to_files: true
  files:
    path: /var/log/filebeat
    name: filebeat
    keepfiles: 7
    permissions: 0644
