# elasticsearch.yml.j2
cluster.name: "elasticsearch-cluster"
node.name: "{{ inventory_hostname }}"
path.data: /usr/share/elasticsearch/data
path.logs: /usr/share/elasticsearch/logs

network.host: 0.0.0.0
http.port: 9200

xpack.security.enabled: false
